.nuevoVideo {
    color: var(--color-white-smoke);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 47px;
    padding: 0px 100px;
    margin: 50px 0;
    
}

.encabezado h1 {
    font-size: 60px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
    
}

.encabezado h4 {
   text-align: center;
   font-weight: 400;
   font-size: 20px;
}

.nuevoVideo form {
    font-family: "Source Sans 3", sans-serif;
}
.nuevoVideo form h2 {
    font-weight: 400 ;
    font-size: 36px;
    padding: 30px 0px;
    border-top: 3px solid var( --color-dark-gray-border);
    border-bottom:3px solid var( --color-dark-gray-border) ;
}

.inputsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px 20px;
    padding: 60px 0;
}

.btnContainer{
    display: flex;
    gap: 20px;  
}
