.categoria {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 93px;
    padding: 0 40px;
}

h3 {
    border-radius: 10px;
    width: 30%;
    padding: 10px;
    display: flex;
    justify-content: center;

    text-align: center;
    font-size: 32px;
}

.cardContainer {
    display: flex;
    gap: 30px;
}