.card{
    border: 5px solid var(--color-frontend);
    border-radius: 25px;
    box-sizing: border-box;
}

.cardImagen{
    width: 100%;
}

.contenedorBotones{
    display: flex;
    justify-content: space-around;
}

.btn {
  display: flex;
  gap: 5px;
  padding: 10px;
  align-items: center;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn img{
    height: 1.5rem;
}