.fondo {
    height:650px ;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:50px;
    padding: 40px;
    color: var(--color-white);
}

.capa{
    height: 100%;
    width: 100%;
    opacity: 0.7;
    background-color: var(--color-banner);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    box-shadow: inset 0px 85px 30px -75px var(--color-blue);
}

.textContainer{
    z-index: 1;
    width: 50%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.categoria{
    border-radius: 10px;
    width: fit-content;
    padding: 25px ;
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    background-color: var(--color-frontend);
    font-size: 48px;
}

.titulo{
    font-size:46px;
    font-weight:lighter;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: transparent;
}

.descripcion{
    font-size: 18px;
    font-weight: lighter;
    background-color: transparent;

}


.video{
    width:50%; 
    height: 360px;
    border-radius: 15px;
    z-index: 1;
    border: 4px solid var(--color-frontend);
    box-shadow:  0px 0px 20px 0px  var(--color-frontend);
}